:root {
  --text-color: #011549;
  --purple: #8d34ff;
  --blue: #86e2ff;
  --green: #a2f4d7;
  --red: #ff9586;
  --bg: #ffffff;
  --dashboard-bg: #f5f5f5;
  --dashboard-secondary: #e6e6e6;
  --box-shadow: 10px 10px 30px #d9d9d9, -10px -10px 30px #ffffff;

  /** copied from Styles.ts **/
  --dark400: #011549;
  --dark300: #022379;
  --dark200: #6d87cd;
  --dark100: #d7e2fe;
  --purple100: #f5f1ff;
  --purple200: #cab0ff;
  --purple300: #a179f4;
  --purple400: #6e30f2;
  --purpleGradient: linear-gradient(115.8deg, #6e30f2 0%, #86e2ff 100%);
  --red400: #f94f4f;
  --red300: #ec7063;
  --red200: #f5b7b1;
  --red100: #fadbd8;
  --blue: #86e2ff;
  --green: #73ffcd;
  --peach: #fac698;
  --deepBlue: #5e35ff;
  --faintBorderColor: #eaf5f7;
  --yellow: #ffeb83;
  --orange: #ffaa47;
  --pink: #f67bea;
  --chartHeight: 250;
  --chartWidth: 400;
  --boxShadow: 10px 10px 30px #d9d9d9, -10px -10px 30px #ffffff;
  --smBoxShadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  --xsBoxShadow: rgba(0, 0, 0, 0.03) 0px 2px 0px 0px;
  --defaultPadding: 1rem;
  --defaultMaxWidth: 70rem;
  --defaultBorderRadius: 0.6rem;
  --defaultBgColor: #fafbfc;
  --defaultTransitionDuration: 0.2s;
  --softGray: #b8b8d9;
}

* {
  box-sizing: border-box;
}

body,
html,
#root {
  height: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875rem;
  line-height: 1.15rem !important;
}

.home {
  margin-top: 2em;
  padding-bottom: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
}
p,
ul,
li,
a,
label,
button,
input,
div {
  font-family: "Lato", sans-serif;
}

a {
  color: unset;
}

p .btn {
  margin: 0.5em 1em;
}

@media only screen and (min-width: 600px) {
  input {
    font-size: 0.9rem !important;
  }
}
@media only screen and (max-width: 600px) {
  input {
    font-size: 1rem !important;
  }
}

h1 {
  font-size: 3.375rem !important;
  line-height: 4rem !important;
  font-weight: 700 !important;
  letter-spacing: 0 !important;
}
h2 {
  font-size: 2.625rem !important;
  line-height: 3.125rem !important;
  font-weight: 600 !important;
  letter-spacing: 0 !important;
}
h3 {
  font-size: 2rem !important;
  line-height: 2.5rem !important;
  font-weight: 500 !important;
  letter-spacing: 0 !important;
}
h4 {
  font-size: 1.75rem !important;
  line-height: 2.25rem !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
}

h5 {
  font-size: 1.25rem !important;
  line-height: 1.625rem !important;
  font-weight: 600 !important;
  letter-spacing: 0 !important;
}
h6 {
  font-size: 1rem !important;
  line-height: 1.375rem !important;
  font-weight: 700 !important;
  letter-spacing: 0 !important;
}

.absolute__center {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

button.nostyle {
  border: none;
  outline: none;
  background: transparent;
  margin: 0;
  padding: 0;
}

a:not(.no-hover):hover *,
a:not(.no-hover):hover {
  color: var(--purple) !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

#root button {
  outline: none;
}

#root .ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--blue);
  border-color: #eaf5f7;
}

#root .ant-steps-item-icon,
#root .ant-steps-item-icon * {
  border-color: var(--purple);
  color: var(--purple);
}

#root .ant-steps-item-active .ant-steps-item-icon {
  background: var(--purple);
}

#root .ant-steps-item-active .ant-steps-item-icon .ant-steps-icon {
  color: white;
}

#root
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: var(--purple);
}

#root .ant-table-column-sorter-up.active,
#root .ant-table-column-sorter-down.active {
  color: var(--blue);
}

.ant-dropdown-menu,
.ant-picker-panel-container {
  padding: var(--defaultPadding);
  border-radius: var(--defaultBorderRadius) !important;
}

.ant-picker-panel-container {
  border: 1px solid var(--faintBorderColor);
}

#root .ant-switch-checked {
  background-color: var(--blue);
}

#root .ant-select-selector {
  border-radius: var(--defaultBorderRadius);
  border: 2px solid var(--faintBorderColor);
}

#root .ant-select-auto-complete .ant-select-selector {
  border: none;
}

#root .ant-scroll-number-only-unit {
  color: white !important;
}

#root .ant-picker {
  border: 2px solid var(--faintBorderColor);
  border-radius: var(--defaultBorderRadius);
}

#root .ant-tabs-ink-bar {
  background: var(--text-color);
}

#root .ant-slider-handle.ant-tooltip-open::after {
  background: white;
}

#root .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--text-color);
}

#root .ant-select {
  width: 100%;
}

#root .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  height: 100%;
}

@media only screen and (min-width: 1000px) {
  #root .ant-select {
    min-width: 250px;
  }
}
